.menu {
  position: relative;
  bottom: 490px;
  width: 100%;
  height: 950px;
  background-color: white;
  }
  .menu .menuTitle {
    font-size: 36px;
    position: relative;
    color: black;
    top: 510px;
    left: 20px;
  }
  .menu .menuTitle-paid {
    font-size: 36px;
    position: relative;
    color: black;
    right: 555px;
    top: 560px;
  }
  
  .menuList {
    position: relative;
    top: 495px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    text-align: -webkit-center;
  }

  .menuList-paid {
    position: relative;
    top: 545px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }
  
  /* MENU ITEM STYLING */
  
  .menuItem {
    align-items: center;
    border-radius: 15px;
    min-width: 310px;
    height: 300px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .menuItem:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .menuItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .menuItem h1,
  .menuItem p {
    margin-left: 20px;
  }
  
  @media only screen and (max-width: 1150px) {
    .menuList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .menuList {
      grid-template-columns: 1fr;
    }
  }

  .card-container{
    display: flex;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 1035px;
    right: 140px;
    z-index: 99;
  }

  .title-img {
    left: 20px;
    position: relative;
    width: 95vw;
    height: 85vh;
    z-index: 99;
  }

.title-card-header {
  width: 345px;
  z-index: 99;
  font-size: 36px;
  position: relative !important;
  color: black;
  bottom: 40px;
  left: 170px;
}